/** CSS for Address Lookup Widget
 * Widget made by Katie Taylor with advising by Peggy Gill
 */

#addressLookupWidget {
    max-width: 247px !important;
}

#resultsDescriptor {
    display: none;
}

.singleResult {
    color: #112e51; /* navy blue */
}

#addressInput {
    width: 100%;
    word-break: break-word;
}

#addressSubmit {
    margin: 1rem 0;
}

#resultsDescriptor {
    margin-bottom: 0.5rem;
}